.idea
.vscode
.Trash-1000
.env

vendor
npm-debug.log

storage/app
storage/framework/*
storage/logs/*

public/hot
public/build
public/sitemap.xml
public/sitemap-en.xml
public/sitemap-ru.xml
public/storage
public/vendor
public/3d_tour_data
cache

bootstrap/cache

*.log
*.bak

.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php