@import "~style";

$block-name: "b-production-two-cols-eq";

.#{$block-name} {
	width: 100%;
	margin-top: 2rem !important;
	padding-bottom: rem(40);
	border-bottom: 2px solid $light;

	&__header {
		margin-top: 0 !important;
	}

	&__coll {
		display: inline-block;
		width: 100%;
		margin-right: 0;
		vertical-align: top;

		@include breakpoint(laptop) {
			width: 40%;
			margin-right: 13%;
		}

		&:last-child {
			width: 100%;
			margin-right: 0;

			@include breakpoint(laptop) {
				width: 45%;
			}
		}
	}
}
