<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<script src="/main.js"></script>
	<script>
		// Пример подключения
		document.addEventListener("DOMContentLoaded", function() {
			//Файл с текстом, блок с диалогом и выбором ответов
			const test = new SupportChat("/config.json", "content-area", "resp-area");
		});
	</script>
</head>

<body>

	<div class="content-area">

	</div>

	<div class="resp-area">

	</div>


</body>

</html>