@use 'base' as *;

.b-magic {
	padding: vw(95) 0;
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint(xl){
		background-position-x: right;
	}

	@include breakpoint(md){
		background-position: center center;
		padding: 4rem 0;
	}
}