@import "~style";

$block-name: "b-products-list";

.#{$block-name} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__products {
		margin-bottom: rem(40);
	}

    &__empty {
		font-weight: 700;
		font-size: rem(27);
		text-align: center;
	}
}
