@use "base" as *;

.b-checkbox {
	&__container {
		display: flex;
		align-items: center;
	}

	& .checkbox {
		flex-shrink: 0;
		width: 2rem;
		height: 2rem;
		border-radius: 4px;
		accent-color: var(--c-purple);
		cursor: pointer;
		margin-right: 8px;
		&.invalid {
			outline: 2px solid red;
		}
	}

	& label {
		cursor: pointer;
	}
}
