@use "base" as *;

.submit {
	border: 0;
	text-transform: uppercase;
	font-size: 2rem;
	padding: 1.3rem 2.2rem;
	border-radius: 4px;
	cursor: pointer;

	&:hover {
		background-color: var(--c-purple-dark);
	}
}