@use "base" as *;

.b-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	gap: 2rem;

	&__logo {
		&:hover {
			color: var(--c-purple);
		}
	}

	&__hamburger {
		position: relative;
		width: 3rem;
		height: 5rem;
		margin-left: 3rem;
		cursor: pointer;
		display: none;
		align-items: center;

		&-bar {
			height: 3px;
		}

		&-bar::before,
		&-bar::after {
			content: "";
			transition: 0.3s;
		}

		&-bar,
		&-bar::after,
		&-bar::before {
			position: absolute;
			width: inherit;
			height: 3px;
			border-radius: 10px;
			background: var(--c-purple-dark);
			left: 0;
			transition-property: top, transform;
		}

		&-bar {
			&::before {
				top: -8px;
			}

			&::after {
				bottom: -8px;
			}
		}

		&--active {
			.b-header__hamburger-bar {
				background: none;
			}

			.b-header__hamburger-bar::after {
				top: 0;
				transform: rotate(45deg);
			}

			.b-header__hamburger-bar::before {
				top: 0;
				transform: rotate(-45deg);
			}
		}

		@include breakpoint(lg) {
			display: flex;
		}
	}

	&__mobile-menu {
		overflow: auto;
		position: absolute;
		top: var(--header-height);
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--c-white);
		z-index: 1;
		transform: translateX(-100%);
		transition: transform 0.5s ease;
		padding-top: 2rem;
		padding-bottom: 10rem;

		&--active {
			transform: translateX(0);
		}
	}

	&__logo-solo--mobile {
		margin-top: 2rem;
		display: block;

		@include container-padding();
	}
}