@use "base" as *;

.b-footer__menu  .b-menu{
	display: block;
	font-size: 1.2rem;
	text-transform: uppercase;

	&__level--root {
		display: flex;
		gap: vw(40);

		& > li {
			&:nth-child(2) {
				flex-shrink: 0;
			}

			& > a {
				display: block;
				margin-bottom: 1rem;
			}
			& > ul {
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}
		}

		& li:hover {
			& > a {
				color: var(--c-purple);
			}
		}
	}
}
