.category-edit-tree{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0px;
  left: 0px;
  width: fit-content;
}

.category-edit-branch{
  position: relative;
}

.category-edit-tree-element {
  position: absolute;
  display: none;
  width: fit-content;
  top: 0;
  left: 100%;
}

.category-edit-tree{
  display: none;
}

.category-edit-branch-content{
  display: flex;
  border: 2px solid black;
}

.category-edit-change-newtext{
  display: none;
}
