#wrapper{
	min-height: 100vh;
  font-family: "Times New Roman", Georgia, Serif;
}

#wrapper-header{
	height: 60px;
  position: relative;
}

#wrapper-content{
	padding: 1rem;
  	position: relative;
	min-height: 80vh;
  background-image: url(/images/break.jpg);
  background-repeat: repeat;
  background-size: 100%;
}

#wrapper-footer{
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-image: url(/images/foot.webp);
}


