@import "~style";

$block-name: "b-main-img-block";

.#{$block-name} {
	position: relative;
	height: 544px;
	background-repeat: no-repeat;
	background-position: 60% 40px;
	background-size: cover;
	box-shadow: 0 -87px 100px 57px rgb(34 60 80 / 20%) inset;

	@include breakpoint(tablet) {
		height: 781px;
		background-position: center;
	}

	&__text.iconS::before {
		position: absolute;
		bottom: 5px;
		left: -20%;
		width: 325px;
		height: 400px;
		background-image: url("/images/Vector.png");
		background-repeat: no-repeat;
		background-size: 100%;
		transition: 1.3s;
		content: " ";

		@include breakpoint(tablet) {
			position: absolute;
			bottom: 10px;
			left: -20%;
			width: 600px;
			height: 700px;
			background-image: url("/images/Vector.png");
			background-repeat: no-repeat;
			content: " ";
		}
	}

	&__text.iconSMove::before {
		left: 0%;

		@include breakpoint(tablet) {
			left: 10%;
		}
	}

	p {
		@include breakpoint(tablet) {
			width: 90%;
			max-width: 930px;
			color: #474747;
		}

		@include breakpoint(laptop) {
			width: 100%;
			max-width: 930px;
		}

		@include breakpoint(big) {
			width: 100%;
			max-width: 1140px;
		}

		position: relative;
		top: 0;
		left: 0;
		max-width: 85%;
		margin: auto;
		color: #fff;
		font-weight: 400;
		font-size: 20px;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		line-height: 130%;
		opacity: 0.3;
		transition: 1.3s;
	}

	&__text {
		max-width: 85%;
		margin: auto;
		padding-top: 20.5rem;

		h1 {
			position: relative;
			bottom: 200px;
			margin-bottom: 0;
			color: #fff;
			font-weight: 700;
			font-size: 40px;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			line-height: 100%;
			opacity: 0.3;
			transition: 1.3s;
		}

		@include breakpoint(mobile) {
			h1 {
				font-size: 60px;
			}
		}

		div {
			position: relative;
			top: 200px;
			width: 78px;
			margin-top: 8px;
			margin-bottom: 22px;
			border: 1px solid #fd7d5a;
			opacity: 0.3;
			transition: 1.3s;
		}

		h2 {
			position: relative;
			top: 200px;
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			line-height: 150%;
			text-transform: uppercase;
			opacity: 0.3;
			transition: 1.3s;
		}

		@include breakpoint(tablet) {
			width: 90%;
			max-width: 930px;
			height: 781px;
			padding-top: 23.5rem;

			h1 {
				color: #fff;
				font-weight: 700;
				font-size: 120px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				line-height: 100%;
			}

			div {
				width: 78px;
				margin-top: 8px;
				margin-bottom: 22px;
				border: 1px solid #fd7d5a;
			}

			p {
				color: #333;
				font-weight: 400;
				font-size: 22px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				line-height: 130%;
			}

			h2 {
				color: #fff;
				font-weight: 700;
				font-size: 23px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				line-height: 150%;
				text-transform: uppercase;
			}
		}

		@include breakpoint(laptop) {
			width: 100%;
			max-width: 930px;
			height: 781px;
			padding-top: 23.5rem;
		}

		@include breakpoint(big) {
			width: 100%;
			max-width: 1140px;
			height: 781px;
			padding-top: 23.5rem;
		}
	}

	&__bottom {
		display: flex;
		gap: rem(20) rem(20);
		align-items: end;
		justify-content: space-between;
	}


	// disable stylelint
	&__btn {
		all: unset !important;
		font-weight: 400 !important;
		font-size: rem(18) !important;
		text-transform: none !important;

		// enable stylelint




		.b-button {
			min-width: 175px;
			padding-top: rem(6);
			padding-bottom: rem(4);
			color: $white;
			background-color: $orange;

			&__icon {
				display: none;

				@include breakpoint(mobile) {
					display: unset;
				}

				& .icon {
					stroke: $white;
				}
			}
		}
	}
}