@import "~style";

$block-name: "b-block-2";

.#{$block-name} {
	&__row {
		margin-bottom: rem(20);

		@include breakpoint(tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: vw(120);
			margin-bottom: unset;
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 1rem;
	}
}
