@use "base" as *;

.b-main-office {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3.5rem 3rem;

		@include breakpoint(lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(sm) {
			grid-template-columns: 1fr;
		}
	}

	&__human {
		max-width: 383px;
		width: 100%;

		&-post {
			margin-bottom: 20px;
		}

		&-number {
			display: block;

			&:hover {
				color: var(--c-purple-dark);
			}
		}
	}
}