@use "base" as *;

.b-techniques {
	background-repeat: no-repeat;
	background-size: cover;
	
	&__title {
		margin-bottom: vw(36);

		@include breakpoint(sm) {
			margin-bottom: 1.5rem;
		}
	}

	&__main {
		padding-top: vw(125);
		padding-bottom: vw(125);
	}

	&__subtitle {
		padding-bottom: vw(15);
		border-bottom: 1px solid var(--c-purple-dark);
		margin-bottom: vw(35);

		@include breakpoint(sm) {
			margin-bottom: 2rem;
		}
	}

	&__swiper {
		overflow: hidden;
		&-container {
			position: relative;
		}
	}

	&__action {
		display: none;
		@include breakpoint(md) {
			display: block;
		}
	}

	&__card {
		flex-shrink: 0;

		@include breakpoint(sm) {
			justify-items: center;
		}
	}

	&-card__method-image {
		margin-bottom: vw(35);

		@include breakpoint(md) {
			margin-bottom: 3rem;
		}
	}

	&__cards {
		display: flex;
	}

	&-card__method {
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		
		&-content {
			display: flex;
			width: 100%;
		}

		&-title {
			line-height: 100%;
			margin-bottom: 5px;
		}

		&-number {
			min-width: 3rem;
			height: 3rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-description {
			margin-left: vw(13);

			@include breakpoint(md) {
				margin-left: 1.3rem;
			}
		}
	}
}