.b-trash{
	animation: moveUpAndBack 7s ease infinite;
}

@keyframes moveUpAndBack {
	0% {
		transform: translateY(2%)
	}

	50% {
		transform: translateY(10%)
	}

	100% {
		transform: translateY(2%)
	}
}